* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background-color: #b1b4ba
}

.container-fluid {
    background-color: #b1b4ba;
    min-height: 90vh;
}

header, footer {
    background-color: #222324;
}

#logo {
    font-weight: bolder;
    font-size: 2.5rem !important;
}

.nav-link {
    font-size: 30px;
    margin-right: 50px;
}

.nav-pills {
    display: flex;
}

.name_reg {
    padding: 20px;
    font-size: 25px;
}

.btn_reg {
    margin-top: 10px;
    margin-right: 10px;
}

.button-1 {
    margin-top: 20px
}

#h_1 {
    font-size: 5rem;
}

#h_2 {
    font-size: 3rem;
}

.block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #b1b4ba;
}

.line_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    min-height: 100px;
    margin-bottom: 100px;
}

.line_1 h2 {
    text-align: center;
    font-size: 80px;
}

.line_2 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 80%;
    min-height: 300px;
}

.line_2 h2 {
    text-align: center;
    font-size: 60px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 20%;
}