{% extends 'main/sample.html' %}

{% block title %}
    Страница с контактами
{% endblock %}

{% block content %}

    <div class="row block_email">
        <div class="col-sm-6 col-sm-offset-3">
            <h3 class="m-5">Страница с контактами</h3>
            <form method="post" role="form" id="contactForm">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-info mt-2" type="submit">Отправить</button>
            </form>
        </div>>
    </div>
{% endblock %}