{% extends 'main/sample.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex text-center align-items-center justify-content-center">
        <div class="row">
            <div class="col-12">
                    <h1 id="h_1">{{ h1 }}</h1>
                    <h2 id="h_2">{{ h2 }}</h2>
                    <a class="btn btn-primary button-1" href="{% url 'services' %}" role="button">View services</a>
            </div>
        </div>
    </div>
{% endblock %}
